@import "../app-variables.scss";

header {
    font-family: $base-font;
    display: flex;
    background-color: $base-color;
    color: #fff;
    h1 {
        padding: 25px;
        &:hover {
            cursor: pointer;
        }
    }
    a {
        font-size: 1.2em;
        padding: 25px;
        display: block;
        margin-left: auto;
        color: #fff;
        text-decoration: none;
        line-height: 32px;
        &:hover {
            background-color: $base-color-hover;
        }
        &:active {
            background-color: $base-color-active;
        }
    }
}