@import "../utils/variables.scss";
@import "../utils/mixins.scss";

header {
    font-family: $base-font;
    display: flex;
    background-color: $base-color;
    color: #fff;
    h1 {
        padding: 20px;

        @include screen-type(phone) {
            padding: 10px;
            padding-left: 20px;
            font-size: 1.2em;
            line-height: 50px;
        }

        &:hover {
            cursor: pointer;
        }
    }
    a {
        font-size: 1.2em;
        padding: 20px;
        display: block;
        margin-left: auto;
        color: #fff;
        text-decoration: none;
        line-height: 32px;

        @include screen-type(phone) {
            padding: 10px;
            font-size: 1em;
            line-height: 47px;
            padding-right: 20px;
        }

        &:hover {
            background-color: $base-color-hover;
        }
        &:active {
            background-color: $base-color-active;
        }
    }
}