*{
    margin: 0;
    padding: 0;
}
textarea {
    resize: none;
}

iframe {
    width: 100%;
    height: 300px;
}

input {
    width: 95%;
    padding: 2%;
    margin-bottom: 10px;
}

.tab {
    padding: 10px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.comparator-wrapper {
    display: flex;
    justify-content: space-between;
}

.speech {
    width: 39%;
    margin: 1%;
}

.comparator {
    width: 59%;
    margin: 1%;
}