<h2>Log in</h2>
<p>
    Welcome to our incredible flamboyant application it can translate cat's meow into your Java code and vice versa.
    Also a special bug occurs while sending C# code (we call it a feature) it turns into a bunch of offensive comments
    in your direction and results in spamming your mail with "joycazino777.com" advertisements. We gave you precautions.
</p>

<label for="username">Username or email</label>
<input type="text" id="username">

<label for="password">Password</label>
<input type="password" id="password">

<input type="checkbox" id="rememberme">
<label for="rememberme">Remember Me</label>

<a href="">Forgot Login Details?</a>

<button>Login</button>
<p>
    Don't have an account? <a routerLink="/signup">Sign up</a>
</p>