$base-font: Verdana, Arial, Helvetica, sans-serif;
$base-color: rgb(0, 136, 247);
$base-color-hover: rgb(0, 111, 202);
$base-color-active:rgb(0, 97, 177);
$slightly-dark: rgb(90, 90, 90);
$danger-red: rgb(250, 110, 110);
$success-green: rgb(50, 220, 150);