<div class="login-heading">
    <h2>Log in</h2>
    <p>
        Welcome to Speech4j. Please login to experience excellent recognition service.
    </p>
</div>

<form 
    [formGroup]="loginForm" 
    (ngSubmit)="onSubmit()" 
    class="login-form">

    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" [ngClass]="{
        'invalid' : email.invalid && (email.dirty || email.touched), 
        'valid' : email.valid && (email.dirty || email.touched)
    }">
    <div class="login-form-msg" *ngIf="email.invalid && (email.dirty || email.touched)">
        <p *ngIf="email.errors.required">Please, provide an email.</p>
        <p *ngIf="email.errors.email">Please, provide valid email. Example: "some@mail.com".</p>
        <p *ngIf="email.errors.minlength">Add
            {{email.errors.minlength.requiredLength - email.errors.minlength.actualLength}} characters.</p>
        <p *ngIf="email.errors.maxlength">Remove 
            {{-(email.errors.maxlength.requiredLength - email.errors.maxlength.actualLength)}} characters.</p>
    </div>

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" [ngClass]="{
        'invalid' : password.invalid && (password.dirty || password.touched), 
        'valid' : password.valid && (password.dirty || password.touched)
    }">
    <div class="login-form-msg" *ngIf="password.invalid && (password.dirty || password.touched)">
        <p *ngIf="password.errors.required">Please, provide password</p>
        <p *ngIf="password.errors.pattern">Sorry, only letters (a-z), numbers (0-9) are allowed.</p>
        <p *ngIf="password.errors.minlength">Add
            {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters.</p>
        <p *ngIf="password.errors.maxlength">Remove 
            {{-(password.errors.maxlength.requiredLength - password.errors.maxlength.actualLength)}} characters.</p>
    </div>

    <input type="checkbox" id="showpassword" (click)="showPassword()">
    <label for="showpassword">Show password</label>

    <a class="forgot-login-link" href="#">Forgot Login Details?</a>

    <button type="submit" class="login-button" routerLink="/welcome">Login</button>
    <p>
        Don't have an account? <a routerLink="/signup">Sign up</a>
    </p>
</form>