<h2>Sign up</h2>
<p>
    Hopefully you aren't familiar with C# programming language. If you are we strongly recommend you to
    visit hilarious C# coding conference in Italy to wich we gratefully offer you free tickets for. Enjoy
    your time watching spectacular views of the Italy this Spring and don't forget to make a lot of new acquaintances with local residents! 
</p>

<label for="email">Email</label>
<input type="email" id="email">

<label for="username">Username</label>
<input type="text" id="username">

<label for="password">Password</label>
<input type="password" id="password">

<label for="password-confirm">Confirm password</label>
<input type="password-confirm">

<button>Sign up</button>
<p>
    Already have an account? <a routerLink="/login">Log in</a>
</p>